/JettyFormSimple/nbproject/private/
/JettyFormSimple/build/
/JettyFormSimple/dist/
/StaticFiles/nbproject/private/
/StaticFiles/build/
/WebsiteNgheNhacTrucTuyen/build/
/WebsiteNgheNhacTrucTuyen/dist/
/KafkaExamples/nbproject/private/
/KafkaExamples/build/
/KafkaExamples/dist/
/ThreadsInJava/nbproject/private/
/ThreadsInJava/build/