/FormJetty/target
/JettyFormSimple/nbproject/private/
/JettyFormSimple/build/
/JettyFormSimple/dist/
/StaticFiles/nbproject/private/
/StaticFiles/build/
/WebsiteNgheNhacTrucTuyen/build/
/WebsiteNgheNhacTrucTuyen/nbproject/
/WebsiteNgheNhacTrucTuyen/dist/
/KafkaExamples/nbproject/private/
/KafkaExamples/build/
/KafkaExamples/dist/
/ThreadsInJava/nbproject/private/
/ThreadsInJava/build/
/CheckElasticSearch/nbproject/private/
/CrawlerDataMp3Zing/nbproject/
/CrawlerDataMp3Zing/build/