/FormJetty/target
/JettyFormSimple/nbproject/private/
/JettyFormSimple/build/
/JettyFormSimple/dist/
/StaticFiles/nbproject/private/
/StaticFiles/build/
/WebsiteNgheNhacTrucTuyen/build/
/WebsiteNgheNhacTrucTuyen/Resources/public/songs
/WebsiteNgheNhacTrucTuyen/Resources/public/videos
/WebsiteNgheNhacTrucTuyen/nbproject/
/WebsiteNgheNhacTrucTuyen/dist/
/KafkaExamples/nbproject/private/
/KafkaExamples/build/
/KafkaExamples/dist/
/ThreadsInJava/nbproject/private/
/ThreadsInJava/build/
/CheckElasticSearch/nbproject/private/
/CrawlerDataMp3Zing/nbproject/
/CrawlerDataMp3Zing/build/
/CheckElasticSearch/build/
/CheckRedis/nbproject/private/
/CheckRedis/build/
/THPTQG2018/nbproject/private/
/THPTQG2018/build/
/RealTimeTest/nbproject/private/
/RealTimeTest/build/
/CheckLog4J/nbproject/private/
/CheckLog4J/dist/
/CheckLog4J/build/
/CheckLog4j/nbproject/private/
/CheckLog4j/build/
/CheckLog4j/dist/